Ignite deactivation process/Instruction sender for inactive new owner/Microsoft.Flow/flows/be6e74ec-18cd-474b-97c9-d8808e6cb2f2/definition.json
{"name":"5e635bb5-e62b-4584-9867-100112618ff3","id":"/providers/Microsoft.Flow/flows/5e635bb5-e62b-4584-9867-100112618ff3","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Instruction sender for inactive new owner v4.0","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"c7daaf41-5a02-4aed-95b3-5d9f7f8a56ff","type":"User","tenantId":"c8fe7995-06f0-4bdf-8f2a-0c8a7986480d"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-11-14T11:12:06.2596091Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"7e7e2493-657c-4fdb-aa39-feabbabbf322"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"List_rows_present_in_a_table":{"runAfter":{},"metadata":{"01ZBZN5N7LJ34THXDMQZFLMZQU3HLTSSW7":"/Desktop/Automation/Work/Task 2/Test.xlsx","tableId":"{0FFD4B9C-C289-46A2-9DA1-A67E00E533BE}","01ZBZN5N7FTWTDMMV76NEYAL5NY2P4MJQD":"/Desktop/Automation/Work/Task 2 v2/Master List.xlsx","operationMetadataId":"45961401-6323-463c-a271-b6d98a39e7fe","01ZBZN5N424T6KEEPAP5B2OEVOIM7UI7U7":"/Desktop/Automation/Work/IGNITE USER DEACTIVATION MASTERLIST/Master List.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"parameters":{"source":"me","drive":"b!_tw6fdyO4Eaea6CJEfBl5Al-OfWLciJGtmGS6PDbhV9mrQew2ThTQJ7U7PsxN3gg","file":"01ZBZN5N424T6KEEPAP5B2OEVOIM7UI7U7","table":"{0FFD4B9C-C289-46A2-9DA1-A67E00E533BE}"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"Apply_to_each":{"foreach":"@outputs('List_rows_present_in_a_table')?['body/value']","actions":{"Condition":{"actions":{"Set_variable_for_tempstr":{"runAfter":{},"metadata":{"operationMetadataId":"698488d5-0528-4343-a42f-35495cb5660c"},"type":"SetVariable","inputs":{"name":"tempstr","value":"@items('Apply_to_each')?['Notification count (New owner inactive)']"}},"Set_variable_for_trmstr":{"runAfter":{"Set_variable_for_tempstr":["Succeeded"]},"metadata":{"operationMetadataId":"cbc697e5-f493-41a9-bbde-dfd2e0e26092"},"type":"SetVariable","inputs":{"name":"trmstr","value":"@{trim(variables('tempstr'))}"}},"Condition_2":{"actions":{"Set_variable_for_ncount_if_cell_is_empty":{"runAfter":{},"metadata":{"operationMetadataId":"acd47417-4ea3-45d8-8a83-acd6e4e0e6b1"},"type":"SetVariable","inputs":{"name":"ncount","value":0}}},"runAfter":{"Set_variable_for_trmstr":["Succeeded"]},"else":{"actions":{"Set_variable_for_ncount_if_cell_is_not_empty":{"runAfter":{},"metadata":{"operationMetadataId":"7002bf68-3d55-41f2-90fa-916627b7cc7b"},"type":"SetVariable","inputs":{"name":"ncount","value":"@int(variables('trmstr'))"}}}},"expression":{"equals":["@empty(variables('trmstr'))",true]},"metadata":{"operationMetadataId":"120cb7a1-f46e-4d89-b9a5-55baa61320c5"},"type":"If"},"Condition_3":{"actions":{"Send_an_email_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"0f72b063-5ae9-41e7-8faa-545d83291d5f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@items('Apply_to_each')?['New owner email']","emailMessage/Subject":"Please request access for @{items('Apply_to_each')?['Application']}","emailMessage/Body":"<p>Hi @{items('Apply_to_each')?['New owner name']},<br>\n<br>\n<br>\nYou have been identified as the new owner for a list of open tasks and/or documents owned by the following user who no longer works for Edwards:<br>\n<br>\n<strong><br>\nName:</strong> @{items('Apply_to_each')?['Name']}<br>\n<strong>License Level:</strong> @{items('Apply_to_each')?['License level']}<br>\n<br>\n<br>\nWe found that you do not have an active @{items('Apply_to_each')?['Application']} account. Please follow the steps below to request access:<br>\n<br>\n<strong>1)</strong> Fill license request form available on <a href=\"https://edwardslifesciences.sharepoint.com/sites/IGNITEHOME/SitePages/Ignite-License%20Request.aspx\">Ignite Homepage</a>. (scroll down to step 3 on the webpage)<br>\n<br>\nNote: For Request Type, please select Reassign License and fill \"@{items('Apply_to_each')?['Name']}\" in the subsequent question.<br>\n<br>\n<strong>2)</strong> Ensure you have up-to-date training certificates for the required role (see Ignite Training Page). Submit ITSR &nbsp;via ServiceNow, attach diploma from LP/LMS and identify the Group and Role needed in the comments section.<br>\n<br>\n<br>\nOnce both your license and ServiceNow request are approved, Ignite L1/L2 will enable the account and transfer open task(s) and/or document(s).<br>\n<br>\nFor questions or support, please contact L2 Ignite Support team.<br>\n<br>\n<strong>Global IT Services</strong><br>\nGlobal Extension 4357 (H-E-L-P)<br>\nNorth America/LATAM +1 949-756-4357<br>\nUS Toll-Free 1 866-243-5739<br>\nEMEA +41 22-787-4357<br>\nAPAC +65 3138-8537</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Condition_2":["Succeeded"]},"else":{"actions":{"Send_an_email_(V2)_2":{"runAfter":{},"metadata":{"operationMetadataId":"e66fa9a1-1859-414f-949b-2e9ec2254755"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@items('Apply_to_each')?['New owner email']","emailMessage/Subject":"Please request access for @{items('Apply_to_each')?['Application']}","emailMessage/Body":"<p>Hi @{items('Apply_to_each')?['New owner name']},<br>\n<br>\n<br>\nYou have been identified as the new owner for a list of open tasks and/or documents owned by the following user who no longer works for Edwards:<br>\n<br>\n<br>\n<strong>Name:</strong> @{items('Apply_to_each')?['Name']}<br>\n<strong>License Level:</strong> @{items('Apply_to_each')?['License level']}<br>\n<br>\n<br>\nWe found that you do not have an active @{items('Apply_to_each')?['Application']} account. Please follow the steps below to request access:<br>\n<br>\n<strong>1)</strong> Fill license request form available on <a href=\"https://edwardslifesciences.sharepoint.com/sites/IGNITEHOME/SitePages/Ignite-License%20Request.aspx\">Ignite Homepage</a>. (scroll down to step 3 on the webpage)<br>\n<br>\nNote: For Request Type, please select Reassign License and fill \"@{items('Apply_to_each')?['Name']}\" in the subsequent question.<br>\n<br>\n<strong>2)</strong> Ensure you have up-to-date training certificates for the required role (see Ignite Training Page). Submit ITSR &nbsp;via ServiceNow, attach diploma from LP/LMS and identify the Group and Role needed in the comments section.<br>\n<br>\n<br>\nOnce both your license and ServiceNow request are approved, Ignite L1/L2 will enable the account and transfer open task(s) and/or document(s).<br>\n<br>\nFor questions or support, please contact L2 Ignite Support team.<br>\n<br>\n<strong>Global IT Services</strong><br>\nGlobal Extension 4357 (H-E-L-P)<br>\nNorth America/LATAM +1 949-756-4357<br>\nUS Toll-Free 1 866-243-5739<br>\nEMEA +41 22-787-4357<br>\nAPAC +65 3138-8537</p>","emailMessage/Cc":"@items('Apply_to_each')?['Escalation Email (New owner inactive)']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"less":["@variables('ncount')",3]},"metadata":{"operationMetadataId":"2af4ad7e-74b2-46d9-bb7f-079fde6c3a24"},"type":"If"},"Update_a_row":{"runAfter":{"Condition_3":["Succeeded"]},"metadata":{"01ZBZN5N7FTWTDMMV76NEYAL5NY2P4MJQD":"/Desktop/Automation/Work/Task 2 v2/Master List.xlsx","tableId":"{0FFD4B9C-C289-46A2-9DA1-A67E00E533BE}","operationMetadataId":"b8330974-91e2-43d3-a1e3-a62866e13ecb","01ZBZN5N424T6KEEPAP5B2OEVOIM7UI7U7":"/Desktop/Automation/Work/IGNITE USER DEACTIVATION MASTERLIST/Master List.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"PatchItem"},"parameters":{"source":"me","drive":"b!_tw6fdyO4Eaea6CJEfBl5Al-OfWLciJGtmGS6PDbhV9mrQew2ThTQJ7U7PsxN3gg","file":"01ZBZN5N424T6KEEPAP5B2OEVOIM7UI7U7","table":"{0FFD4B9C-C289-46A2-9DA1-A67E00E533BE}","idColumn":"Assignment ID","id":"@items('Apply_to_each')?['Assignment ID']","item/Notification count (New owner inactive)":"@add(variables('ncount'),1)","item/Last notification sent (New owner active)":"@utcNow()"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"equals":["@items('Apply_to_each')?['New owner active']","No"]},"metadata":{"operationMetadataId":"d3a5a390-74bf-4e9a-8f39-a7baedbc7bed"},"type":"If"}},"runAfter":{"Initialize_trimmed_tempstr":["Succeeded"]},"metadata":{"operationMetadataId":"af9c1eb4-ced4-46eb-8111-13e8dbdea8d8"},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":1}}},"Initialize_temporary_string":{"runAfter":{"Initialize_count_for_notification_(New_owner_inactive)":["Succeeded"]},"metadata":{"operationMetadataId":"db4510f2-4e03-4132-bd2b-772102983f67"},"type":"InitializeVariable","inputs":{"variables":[{"name":"tempstr","type":"string"}]}},"Initialize_trimmed_tempstr":{"runAfter":{"Initialize_temporary_string":["Succeeded"]},"metadata":{"operationMetadataId":"0c45a40d-b894-412e-85a4-5d16aab33ccc"},"type":"InitializeVariable","inputs":{"variables":[{"name":"trmstr","type":"string"}]}},"Initialize_count_for_notification_(New_owner_inactive)":{"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"metadata":{"operationMetadataId":"c7c2a039-d603-44da-9fa8-4e50d425c678"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ncount","type":"integer"}]}}},"description":""},"connectionReferences":{"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-f80f2228-d9d8-4732-ae9e-2f2d-acd6f749","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-d7ed7016-79bd-4265-abad-c3a5-ae651717","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}