Notification sender for new owner assignment/Microsoft.Flow/flows/3658ce0a-2280-460d-8260-58f13ed62c4c/definition.json
{"name":"32ac25aa-320f-4a89-9d07-efa16d7b3eac","id":"/providers/Microsoft.Flow/flows/32ac25aa-320f-4a89-9d07-efa16d7b3eac","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Work - Automated mail for new owner assignment v2.0","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"c7daaf41-5a02-4aed-95b3-5d9f7f8a56ff","type":"User","tenantId":"c8fe7995-06f0-4bdf-8f2a-0c8a7986480d"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-10-31T15:01:55.6763534Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"List_rows_present_in_a_table":{"runAfter":{},"metadata":{"01ZBZN5N7LJ34THXDMQZFLMZQU3HLTSSW7":"/Desktop/Automation/Work/Task 2/Test.xlsx","tableId":"{0FFD4B9C-C289-46A2-9DA1-A67E00E533BE}","01ZBZN5N7FTWTDMMV76NEYAL5NY2P4MJQD":"/Desktop/Automation/Work/Task 2 v2/Master List.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"parameters":{"source":"me","drive":"b!_tw6fdyO4Eaea6CJEfBl5Al-OfWLciJGtmGS6PDbhV9mrQew2ThTQJ7U7PsxN3gg","file":"01ZBZN5N7FTWTDMMV76NEYAL5NY2P4MJQD","table":"{0FFD4B9C-C289-46A2-9DA1-A67E00E533BE}"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"Apply_to_each":{"foreach":"@outputs('List_rows_present_in_a_table')?['body/value']","actions":{"Condition":{"actions":{"Apply_to_each_2":{"foreach":"@outputs('Find_files_in_folder_by_path')?['body']","actions":{"Get_file_content":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"GetFileContent"},"parameters":{"id":"@items('Apply_to_each_2')?['Id']","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)":{"runAfter":{"Get_file_content":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@items('Apply_to_each')?['Manager email']","emailMessage/Subject":"Please add new owner for @{items('Apply_to_each')?['Name']}","emailMessage/Body":"<p>Hi @{items('Apply_to_each')?['Manager']},<br>\n<br>\nIn keeping up with procedures and system compliance, the Ignite team regularly removes users who are no longer with Edwards. &nbsp;If these users have open tasks and/or are document owners and do not have replacements, we have to reach out and find new owners.<br>\n<br>\nThis email is to enlist your help to find the proper owner in your group for the open task(s) or document(s) for the following user who no longer works for Edwards:<br>\n<strong>Name:</strong> @{items('Apply_to_each')?['Name']}<br>\n<strong>License Level:</strong> @{items('Apply_to_each')?['License level']}<br>\n<br>\n<strong>1) </strong>Please review the attached list and fill in columns “New Owner” and “New Owner Email”.<br>\nNote: If any document needs to be obsoleted, please contact the PCS team to assist. IT is not authorized to obsolete any documents.<br>\n<strong>2)</strong> Submit new owner information by filling this https://forms.office.com/r/6L1yvkVEe8 and attach the filled form from Step 1.<br>\n<br>\nFor questions or support, please contact L2 Ignite Support team.<br>\n<br>\n<strong>Global IT Services</strong><br>\nGlobal Extension 4357 (H-E-L-P)<br>\nNorth America/LATAM +1 949-756-4357<br>\nUS Toll-Free 1 866-243-5739<br>\nEMEA +41 22-787-4357<br>\nAPAC +65 3138-8537</p>","emailMessage/Attachments":[{"Name":"@variables('userfile')","ContentBytes":"@outputs('Get_file_content')?['body']"}],"emailMessage/Importance":"High"},"authentication":"@parameters('$authentication')"}},"Update_a_row":{"runAfter":{"Send_an_email_(V2)":["Succeeded"]},"metadata":{"01ZBZN5N7FTWTDMMV76NEYAL5NY2P4MJQD":"/Desktop/Automation/Work/Task 2 v2/Master List.xlsx","tableId":"{0FFD4B9C-C289-46A2-9DA1-A67E00E533BE}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"PatchItem"},"parameters":{"source":"me","drive":"b!_tw6fdyO4Eaea6CJEfBl5Al-OfWLciJGtmGS6PDbhV9mrQew2ThTQJ7U7PsxN3gg","file":"01ZBZN5N7FTWTDMMV76NEYAL5NY2P4MJQD","table":"{0FFD4B9C-C289-46A2-9DA1-A67E00E533BE}","idColumn":"Name","id":"@items('Apply_to_each')?['Name']","item/Last notification sent (New owner needed)":"@utcNow()"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Find_files_in_folder_by_path":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":20}}},"Find_files_in_folder_by_path":{"runAfter":{"Set_variable_for_file_name":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"FindFilesByPath"},"parameters":{"query":"@variables('userfile')","path":"/Desktop/Automation/Work/Task 2 v2/Task files","findMode":"Pattern","maxFileCount":1},"authentication":"@parameters('$authentication')"}},"Set_variable_for_user_name":{"runAfter":{},"type":"SetVariable","inputs":{"name":"username","value":"@items('Apply_to_each')?['Name']"}},"Set_variable_for_file_name":{"runAfter":{"Set_variable_for_user_name":["Succeeded"]},"type":"SetVariable","inputs":{"name":"userfile","value":"@{trim(variables('username'))}.xlsx"}}},"runAfter":{},"expression":{"equals":["@items('Apply_to_each')?['New owner needed']","yes"]},"type":"If"}},"runAfter":{"Initialize_variable_userfile":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":1}}},"Initialize_variable_userfile":{"runAfter":{"Initialize_variable_username":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"userfile","type":"string"}]}},"Initialize_variable_username":{"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"username","type":"string"}]}}}},"connectionReferences":{"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-f80f2228-d9d8-4732-ae9e-2f2d-acd6f749","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"},"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-51de26f2-55a7-4bc4-92ad-28bf-840e6139","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-d7ed7016-79bd-4265-abad-c3a5-ae651717","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}