Ignite deactivation process/Mail sender for new owner assignment/Microsoft.Flow/flows/3658ce0a-2280-460d-8260-58f13ed62c4c/definition.json
{"name":"32ac25aa-320f-4a89-9d07-efa16d7b3eac","id":"/providers/Microsoft.Flow/flows/32ac25aa-320f-4a89-9d07-efa16d7b3eac","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Automated mail for new owner assignment v4.0","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"c7daaf41-5a02-4aed-95b3-5d9f7f8a56ff","type":"User","tenantId":"c8fe7995-06f0-4bdf-8f2a-0c8a7986480d"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-11-12T04:59:22.616018Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"d108fe61-364b-48aa-a12c-a20c18c5993a"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"List_rows_present_in_a_table":{"runAfter":{},"metadata":{"01ZBZN5N7LJ34THXDMQZFLMZQU3HLTSSW7":"/Desktop/Automation/Work/Task 2/Test.xlsx","tableId":"{0FFD4B9C-C289-46A2-9DA1-A67E00E533BE}","01ZBZN5N7FTWTDMMV76NEYAL5NY2P4MJQD":"/Desktop/Automation/Work/Task 2 v2/Master List.xlsx","operationMetadataId":"0473c7cc-d87e-40ee-baf7-b010a7fc0db4","01MISDICPMSBTRSKVNPZGLO7FI34CVACMB":"/General/Knowledge Transfer/PLM/Ignite Deactivation Process/IGNITE USER DEACTIVATION MASTERLIST/Master List.xlsx","01ZBZN5N424T6KEEPAP5B2OEVOIM7UI7U7":"/Desktop/Automation/Work/IGNITE USER DEACTIVATION MASTERLIST/Master List.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"parameters":{"source":"me","drive":"b!_tw6fdyO4Eaea6CJEfBl5Al-OfWLciJGtmGS6PDbhV9mrQew2ThTQJ7U7PsxN3gg","file":"01ZBZN5N424T6KEEPAP5B2OEVOIM7UI7U7","table":"{0FFD4B9C-C289-46A2-9DA1-A67E00E533BE}"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"Apply_to_each":{"foreach":"@outputs('List_rows_present_in_a_table')?['body/value']","actions":{"Condition":{"actions":{"Set_variable_for_user_name":{"runAfter":{},"metadata":{"operationMetadataId":"82fb1c01-8a1a-4ae9-bda3-e5af616dcd71"},"type":"SetVariable","inputs":{"name":"username","value":"@items('Apply_to_each')?['Name']"}},"Set_variable_for_file_name":{"runAfter":{"Set_variable_for_user_name":["Succeeded"]},"metadata":{"operationMetadataId":"bced9183-d667-4a52-b1ab-82c73fc47704"},"type":"SetVariable","inputs":{"name":"userfile","value":"@{trim(variables('username'))}.xlsx"}},"Set_variable_for_temp_str":{"runAfter":{"Set_variable_for_file_name":["Succeeded"]},"metadata":{"operationMetadataId":"af8262b7-6a60-4ba4-8de2-536ca604caa1"},"type":"SetVariable","inputs":{"name":"tempstr","value":"@items('Apply_to_each')?['Notification count (New owner needed)']"}},"Condition_2":{"actions":{"Set_variable_for_ncount_if_cell_is_empty":{"runAfter":{},"metadata":{"operationMetadataId":"49b51cc3-7bac-464d-80cc-f05d1ac4e797"},"type":"SetVariable","inputs":{"name":"ncount","value":0}}},"runAfter":{"Trim_temp_str":["Succeeded"]},"else":{"actions":{"Set_variable_for_ncount_if_cell_is_not_empty":{"runAfter":{},"metadata":{"operationMetadataId":"a20c52bf-4a87-464d-a33e-3c8934e9e0a6"},"type":"SetVariable","inputs":{"name":"ncount","value":"@int(variables('trmstr'))"}}}},"expression":{"equals":["@empty(variables('trmstr'))",true]},"metadata":{"operationMetadataId":"ffbcd6a5-1080-4e5e-98ad-ea48adeeddd5"},"type":"If"},"Trim_temp_str":{"runAfter":{"Set_variable_for_temp_str":["Succeeded"]},"metadata":{"operationMetadataId":"5c233dfb-d8d2-47ea-94b3-2efcdf820e38"},"type":"SetVariable","inputs":{"name":"trmstr","value":"@{trim(variables('tempstr'))}"}},"Find_files_in_folder_by_path":{"runAfter":{"Condition_2":["Succeeded"]},"metadata":{"operationMetadataId":"fbdacc01-8839-4e6e-b1fe-8952f05e6a95"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"FindFilesByPath"},"parameters":{"query":"@variables('userfile')","path":"/Desktop/Automation/Work/IGNITE USER DEACTIVATION MASTERLIST","findMode":"Pattern","maxFileCount":1},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each_2":{"foreach":"@outputs('Find_files_in_folder_by_path')?['body']","actions":{"Get_file_content":{"runAfter":{},"metadata":{"operationMetadataId":"e55558c0-cf18-471f-a1c6-16cc2729403c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"GetFileContent"},"parameters":{"id":"@items('Apply_to_each_2')?['Id']","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Send_an_email_(V2)":{"runAfter":{"Get_file_content":["Succeeded"]},"metadata":{"operationMetadataId":"522e73b3-8f18-4954-936f-a7950666ffdc"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@items('Apply_to_each')?['Manager email']","emailMessage/Subject":"Please add new owner for @{items('Apply_to_each')?['Name']}","emailMessage/Body":"<p>Hi @{items('Apply_to_each')?['Manager']},<br>\n<br>\nIn keeping up with procedures and system compliance, the Ignite team regularly removes users who are no longer with Edwards. &nbsp;If these users have open tasks and/or are document owners and do not have replacements, we have to reach out and find new owners.<br>\n<br>\nThis email is to enlist your help to find the proper owner in your group for the open task(s) or document(s) for the following user who no longer works for Edwards:<br>\n<strong>Name (Current Owner):</strong> @{items('Apply_to_each')?['Name']}<br>\n<strong>License Level:</strong> @{items('Apply_to_each')?['License level']}<br>\n<br>\n<strong>1) </strong>Please review the attached list and fill in columns “New Owner” and “New Owner Email”.<br>\nNote: If any document needs to be obsoleted, please contact the PCS team to assist. IT is not authorized to obsolete any documents.<br>\n<strong>2)</strong> Submit new owner information by filling this <a href=\"https://forms.office.com/Pages/ResponsePage.aspx?id=lXn-yPAG30uPKgyKeYZIDUGv2scCWu1KlbNdn3-KVv9UOFBWOElCRExZUVFJQlZGUzBRTVQ3UlBOQy4u\">form</a>. Please remember to attach the excel file from Step 1 inside the form.<br>\n<br>\nFor questions or support, please contact L2 Ignite Support team.<br>\n<br>\n<strong>Global IT Services</strong><br>\nGlobal Extension 4357 (H-E-L-P)<br>\nNorth America/LATAM +1 949-756-4357<br>\nUS Toll-Free 1 866-243-5739<br>\nEMEA +41 22-787-4357<br>\nAPAC +65 3138-8537</p>","emailMessage/Attachments":[{"Name":"@variables('userfile')","ContentBytes":"@outputs('Get_file_content')?['body']"}]},"authentication":"@parameters('$authentication')"}},"Update_a_row":{"runAfter":{"Send_an_email_(V2)":["Succeeded"]},"metadata":{"01ZBZN5N7FTWTDMMV76NEYAL5NY2P4MJQD":"/Desktop/Automation/Work/Task 2 v2/Master List.xlsx","tableId":"{0FFD4B9C-C289-46A2-9DA1-A67E00E533BE}","operationMetadataId":"cda935d7-ca33-41de-9f60-03c82c183976","01MISDICPMSBTRSKVNPZGLO7FI34CVACMB":"/General/Knowledge Transfer/PLM/Ignite Deactivation Process/IGNITE USER DEACTIVATION MASTERLIST/Master List.xlsx","01ZBZN5N424T6KEEPAP5B2OEVOIM7UI7U7":"/Desktop/Automation/Work/IGNITE USER DEACTIVATION MASTERLIST/Master List.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"PatchItem"},"parameters":{"source":"me","drive":"b!_tw6fdyO4Eaea6CJEfBl5Al-OfWLciJGtmGS6PDbhV9mrQew2ThTQJ7U7PsxN3gg","file":"01ZBZN5N424T6KEEPAP5B2OEVOIM7UI7U7","table":"{0FFD4B9C-C289-46A2-9DA1-A67E00E533BE}","idColumn":"Name","id":"@items('Apply_to_each')?['Name']","item/Notification count (New owner needed)":"@add(variables('ncount'),1)","item/Last notification sent (New owner needed)":"@utcNow()"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Find_files_in_folder_by_path":["Succeeded"]},"metadata":{"operationMetadataId":"e81af664-4820-4791-8460-94e4f7521a38"},"type":"Foreach"}},"runAfter":{},"expression":{"equals":["@items('Apply_to_each')?['New owner needed']","Yes"]},"metadata":{"operationMetadataId":"4d7c3507-3951-4797-adc2-259d0b352777"},"type":"If"}},"runAfter":{"Initialize_trimmed_tempstr":["Succeeded"]},"metadata":{"operationMetadataId":"2ee9e4a5-5b51-4687-ba5e-e4113d00b0f5"},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":1}}},"Initialize_variable_userfile":{"runAfter":{"Initialize_variable_username":["Succeeded"]},"metadata":{"operationMetadataId":"984dbebe-03ea-4c36-a184-290dd280832c"},"type":"InitializeVariable","inputs":{"variables":[{"name":"userfile","type":"string"}]}},"Initialize_variable_username":{"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"metadata":{"operationMetadataId":"1f38c3fa-a3dd-4ced-8491-e738e57b2146"},"type":"InitializeVariable","inputs":{"variables":[{"name":"username","type":"string"}]}},"Initialize_count_for_notification_(New_owner_needed)":{"runAfter":{"Initialize_variable_userfile":["Succeeded"]},"metadata":{"operationMetadataId":"99a27391-272e-4de4-94e2-76e8249430be"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ncount","type":"integer"}]}},"Initialize_temporary_string":{"runAfter":{"Initialize_count_for_notification_(New_owner_needed)":["Succeeded"]},"metadata":{"operationMetadataId":"f3215922-6c6c-4fdb-b27c-77178b14fc68"},"type":"InitializeVariable","inputs":{"variables":[{"name":"tempstr","type":"string"}]}},"Initialize_trimmed_tempstr":{"runAfter":{"Initialize_temporary_string":["Succeeded"]},"metadata":{"operationMetadataId":"5670a48a-6a50-453d-81a6-f77de95a02e7"},"type":"InitializeVariable","inputs":{"variables":[{"name":"trmstr","type":"string"}]}}}},"connectionReferences":{"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-f80f2228-d9d8-4732-ae9e-2f2d-acd6f749","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-d7ed7016-79bd-4265-abad-c3a5-ae651717","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-51de26f2-55a7-4bc4-92ad-28bf-840e6139","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}