Ignite deactivation process/Flow for getting mail responses for new owner/Microsoft.Flow/flows/cfdd6220-2e95-4a61-8945-07b67ccd59e3/definition.json
{"name":"c66f1045-e343-469a-a28f-d4522a499328","id":"/providers/Microsoft.Flow/flows/c66f1045-e343-469a-a28f-d4522a499328","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Flow for getting mail responses for new owner","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"c7daaf41-5a02-4aed-95b3-5d9f7f8a56ff","type":"User","tenantId":"c8fe7995-06f0-4bdf-8f2a-0c8a7986480d"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-11-01T17:52:39.44074Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_response_is_submitted":{"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"parameters":{"form_id":"lXn-yPAG30uPKgyKeYZIDUGv2scCWu1KlbNdn3-KVv9UOFBWOElCRExZUVFJQlZGUzBRTVQ3UlBOQy4u"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_response_details":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"parameters":{"form_id":"lXn-yPAG30uPKgyKeYZIDUGv2scCWu1KlbNdn3-KVv9UOFBWOElCRExZUVFJQlZGUzBRTVQ3UlBOQy4u","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"authentication":"@parameters('$authentication')"}},"List_rows_present_in_a_table":{"runAfter":{"Initialize_newemail":["Succeeded"]},"metadata":{"01ZBZN5N7LJ34THXDMQZFLMZQU3HLTSSW7":"/Desktop/Automation/Work/Task 2/Test.xlsx","tableId":"{0FFD4B9C-C289-46A2-9DA1-A67E00E533BE}","01ZBZN5N7FTWTDMMV76NEYAL5NY2P4MJQD":"/Desktop/Automation/Work/Task 2 v2/Master List.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"parameters":{"source":"me","drive":"b!_tw6fdyO4Eaea6CJEfBl5Al-OfWLciJGtmGS6PDbhV9mrQew2ThTQJ7U7PsxN3gg","file":"01ZBZN5N7FTWTDMMV76NEYAL5NY2P4MJQD","table":"{0FFD4B9C-C289-46A2-9DA1-A67E00E533BE}"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@outputs('List_rows_present_in_a_table')?['body/value']","actions":{"Set_name":{"runAfter":{},"type":"SetVariable","inputs":{"name":"name","value":"@items('Apply_to_each_2')?['Name']"}},"Condition":{"actions":{"Update_a_row":{"runAfter":{},"metadata":{"tableId":"{0FFD4B9C-C289-46A2-9DA1-A67E00E533BE}","01ZBZN5N7FTWTDMMV76NEYAL5NY2P4MJQD":"/Desktop/Automation/Work/Task 2 v2/Master List.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"PatchItem"},"parameters":{"source":"me","drive":"b!_tw6fdyO4Eaea6CJEfBl5Al-OfWLciJGtmGS6PDbhV9mrQew2ThTQJ7U7PsxN3gg","file":"01ZBZN5N7FTWTDMMV76NEYAL5NY2P4MJQD","table":"{0FFD4B9C-C289-46A2-9DA1-A67E00E533BE}","idColumn":"Name","id":"@items('Apply_to_each_2')?['Name']","item/New owner needed":"No","item/New owner name":"@variables('newname')","item/New owner email":"@variables('newemail')","item/Assignment ID":"@concat(variables('currname'),variables('newname'))"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)":{"runAfter":{"Update_a_row":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"fzechelon6450@gmail.com","emailMessage/Subject":"Validate new owner info","emailMessage/Body":"<p>Hi L2 Team,<br>\n<br>\nPlease validate new owner info for <strong></strong><strong>@{outputs('Update_a_row')?['body/Name']}</strong> in the Master List.<br>\n<br>\nThank you.</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Set_name":["Succeeded"]},"expression":{"equals":["@trim(variables('name'))","@variables('currname')"]},"type":"If"}},"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":1}}},"Initialize_currname":{"runAfter":{"Initialize_name":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"currname","type":"string","value":"@{trim(outputs('Get_response_details')?['body/r2b740c914d544f9e80cb7b1a47372a83'])}"}]}},"Initialize_newname":{"runAfter":{"Initialize_currname":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"newname","type":"string","value":"@{trim(outputs('Get_response_details')?['body/r5e1d244394c94c9d9b558114aa661160'])}"}]}},"Initialize_newemail":{"runAfter":{"Initialize_newname":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"newemail","type":"string","value":"@{trim(outputs('Get_response_details')?['body/rb6765784ec8f4eea8c30aff29e8c3490'])}"}]}},"Initialize_name":{"runAfter":{"Get_response_details":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"name","type":"string"}]}}}},"connectionReferences":{"shared_microsoftforms":{"connectionName":"shared-microsoftform-1583542f-2b91-44e8-b126-41bf-e5d388a4","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified"},"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-f80f2228-d9d8-4732-ae9e-2f2d-acd6f749","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-d7ed7016-79bd-4265-abad-c3a5-ae651717","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}