Instruction sender for inactive new owner/Microsoft.Flow/flows/be6e74ec-18cd-474b-97c9-d8808e6cb2f2/definition.json
{"name":"5e635bb5-e62b-4584-9867-100112618ff3","id":"/providers/Microsoft.Flow/flows/5e635bb5-e62b-4584-9867-100112618ff3","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Instruction sender for inactive new owner","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"c7daaf41-5a02-4aed-95b3-5d9f7f8a56ff","type":"User","tenantId":"c8fe7995-06f0-4bdf-8f2a-0c8a7986480d"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-11-01T17:53:45.8556986Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"List_rows_present_in_a_table":{"runAfter":{},"metadata":{"01ZBZN5N7LJ34THXDMQZFLMZQU3HLTSSW7":"/Desktop/Automation/Work/Task 2/Test.xlsx","tableId":"{0FFD4B9C-C289-46A2-9DA1-A67E00E533BE}","01ZBZN5N7FTWTDMMV76NEYAL5NY2P4MJQD":"/Desktop/Automation/Work/Task 2 v2/Master List.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"parameters":{"source":"me","drive":"b!_tw6fdyO4Eaea6CJEfBl5Al-OfWLciJGtmGS6PDbhV9mrQew2ThTQJ7U7PsxN3gg","file":"01ZBZN5N7FTWTDMMV76NEYAL5NY2P4MJQD","table":"{0FFD4B9C-C289-46A2-9DA1-A67E00E533BE}"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"Apply_to_each":{"foreach":"@outputs('List_rows_present_in_a_table')?['body/value']","actions":{"Condition":{"actions":{"Send_an_email_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@items('Apply_to_each')?['New owner email']","emailMessage/Subject":"Please request access for @{items('Apply_to_each')?['Application']}","emailMessage/Body":"<p>Hi @{items('Apply_to_each')?['New owner name']},​<br>\n<br>\nYou have been identified as the new owner for a list of open tasks and/or documents owned by the following user who no longer works for Edwards:​<br>\n<strong>​Name:</strong> @{items('Apply_to_each')?['Name']}<br>\n<strong>License Level:</strong> @{items('Apply_to_each')?['License level']}​<br>\n<br>\nWe found that you do not have an active @{items('Apply_to_each')?['Application']} account. Please follow the steps below to request access:​<br>\n<strong>1)</strong> Fill license request form available on <a href=\"https://edwardslifesciences.sharepoint.com/sites/IGNITEHOME/SitePages/Ignite-License%20Request.aspx\">Ignite Homepage</a>. (scroll down to step 3 on the webpage)​<br>\nNote: For Request Type, please select Reassign License and fill \"@{items('Apply_to_each')?['Name']}\" in the subsequent question.​<br>\n<strong>2)</strong> Ensure you have up-to-date training certificates for the required role (see Ignite Training Page). Submit ITSR &nbsp;via ServiceNow, attach diploma from LP/LMS and identify the Group and Role needed in the comments section.​<br>\n<br>\nOnce both your license and ServiceNow request are approved, Ignite L1/L2 will enable the account and transfer open task(s) and/or document(s). <br>\n<br>\nFor questions or support, please contact L2 Ignite Support team.<br>\n<br>\n<strong>Global IT Services</strong><br>\nGlobal Extension 4357 (H-E-L-P)<br>\nNorth America/LATAM +1 949-756-4357<br>\nUS Toll-Free 1 866-243-5739<br>\nEMEA +41 22-787-4357<br>\nAPAC +65 3138-8537</p>"},"authentication":"@parameters('$authentication')"}},"Update_a_row":{"runAfter":{"Send_an_email_(V2)":["Succeeded"]},"metadata":{"01ZBZN5N7FTWTDMMV76NEYAL5NY2P4MJQD":"/Desktop/Automation/Work/Task 2 v2/Master List.xlsx","tableId":"{0FFD4B9C-C289-46A2-9DA1-A67E00E533BE}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"PatchItem"},"parameters":{"source":"me","drive":"b!_tw6fdyO4Eaea6CJEfBl5Al-OfWLciJGtmGS6PDbhV9mrQew2ThTQJ7U7PsxN3gg","file":"01ZBZN5N7FTWTDMMV76NEYAL5NY2P4MJQD","table":"{0FFD4B9C-C289-46A2-9DA1-A67E00E533BE}","idColumn":"Assignment ID","id":"@items('Apply_to_each')?['Assignment ID']","item/Last notification sent (New owner active)":"@utcNow()"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"equals":["@items('Apply_to_each')?['New owner active']","No"]},"type":"If"}},"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":1}}}}},"connectionReferences":{"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-f80f2228-d9d8-4732-ae9e-2f2d-acd6f749","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-d7ed7016-79bd-4265-abad-c3a5-ae651717","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}